<% if comment.id.present? %>
  <p>
    <strong>Reviewer :</strong>
    <%= comment.user.fullname %>
    <span style="font-size: 10px; color: midnightblue; margin-left:8px; text-decoration:none;"><i><b><%= time_ago_in_words(comment.created_at) %> ago</b></i></span>
  </p>
  <p>
    <div class="star-rating" data-score= <%= comment.rating %> ></div>
  </p>
  <p>
    <strong>Comment :</strong>
    <%= comment.body %>
    
  </p>
  
   
  <p>
    <% if comment.user_id == current_user.id %>
      <%= link_to 'Destroy Comment', [comment.provider_detail, comment],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p><hr>
<% end %>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      half: 'true',
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
