
<%if @user.provider %>
<% @user.provider.provider_details.each do |provider| %>
    <p>
    
      <strong>City: </strong>
      <%= provider.city %>
    </p>
    
    <p>
      <strong>State: </strong>
      <%= provider.state %>
    </p>
    
    <p>
      <strong>Pin Code: </strong>
      <%= provider.zipcode %>
    </p>

    <p>
      <strong>About: </strong>
      <%= provider.category.name %>
    </p>
    
    <p>
      <strong>About: </strong>
      <%= provider.description %>
    </p>

    <%= link_to 'Edit', edit_provider_detail_path(provider), class: "btn btn-warning sm-btn" %>
    <%= button_to 'Remove Address', provider_detail_path(provider), method: :delete, class: "btn btn-danger sm-btn" %>
    
    <hr>
<% end %>
<%end%>