<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <%= image_tag(@provider.image, style:'width:400px;height:500px') if @provider.image.attached? %>
                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title"><%= @provider.category.name %></h3>
                    <p class="product-description"><%= @provider.description %></p>
                    <h5><b>Address</b></h5><p><%= @provider.city %>,<%= @provider.zipcode %>,<%= @provider.state %></p>
                    <div class="action">
                        <% if @provider.provider.user_id == current_user.id %>
                            <%= link_to 'Edit', edit_provider_detail_path(@provider), class: "btn btn-warning sm-btn" %>
                            <%= link_to 'Delete', provider_detail_path(@provider), method: :delete, class: "btn btn-danger sm-btn" %>
                        <% end %>
                    </div>
                </div>
            </div>
        
        </div>
        <div>
            <%# <h5><b>Reviews :</b></h5> %>
            <hr>
            <div id= "action_cable_comment">
                <%= render current_user.provider.comments %>
            </div>
            <% unless @user == current_user %>
                <h5><b>Write Review:</b></h5>
                <%= render 'comments/form', locals: {user: current_user} %><hr>
            <% end %>  
        </div>
    </div>
</div>

