<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4"></h1>
      <div class="list-group">
        <% if current_user == @user %>
          <%= link_to "Create Profile", new_provider_detail_path, style: 'float: right', class: 'btn btn-danger sm-btn' %><br/>
          <% if current_user.provider%>
            <a href="#reminder"  class=" btn btn-success sm-btn" data-toggle="modal">Reminder</a><br/>
          <% end%>
        <% end %>
          <%= link_to 'Back', root_path, class: "btn btn-secondary sm-btn" %>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="container">
        <div class="row">
          <div class="col-md-6 img">
            <%= image_tag(@user.image, class: "img-rounded") if @user.image.attached? %>
          </div>
          <div class="col-md-6 details">
            <blockquote>
              <h5><%= @user.fullname %></h5>
              <small><i class="icon-map-marker">D.O.B. : <%= @user.dob.strftime('%v') %></small>
            </blockquote>
            <p>
              <h6><b><%= @user.email %></b></h6>
              <h6><b>Contact No : <%= @user.contact %></b></h6>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <% if @user.provider.present? %>
    <%= render partial: '/users/provider', locals: {provider_details: only_confirmed_provider_details(@user)} %>
  <% else %>
    <h3>Not registration as provider yet...</h3>
  <% end %>
</div>

<% if current_user.provider%>
  <div id="reminder" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title"> Reminders</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>For</th>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
                <th>Status</th>
                <th></th>
              </tr>
              <tbody>
                <% @reminders.each do |reminder| %>
                <tr>
                  <td><%= reminder.category.name %></td>
                  <td><%= reminder.title %></td>
                  <td><%= reminder.date %></td>
                  <td><%= reminder.description %></td>
                  <% if reminder.status %>
                    <td><span class="badge badge-success">Completed</span></td>
                  <% else %>
                    <td><%= link_to "Done ?", reminder_status_home_index_path(reminder), method: :get, class:'btn btn-primary btn-sm' %></td>
                  <% end %>
                  <td><%= link_to "Delete", delete_reminder_home_index_path(reminder), class: 'btn btn-danger btn-sm', method: :delete %></td>
                </tr>
                <%end%>
              </tbody>
            </thead>
          </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end%>
