<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4"></h1>
      <div class="list-group">
        <% if current_user == @user %>
          <%= link_to "Create Profile", new_provider_detail_path, style: 'float: right', class: 'btn btn-danger sm-btn' %> &nbsp
        <% end %>          
        <%= link_to 'Back', '/', class: "btn btn-secondary sm-btn" %>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="container">
        <div class="row">
          <div class="col-md-6 img">
            <%= image_tag(@user.image, class: "img-rounded") if @user.image.attached? %>
          </div>
          <div class="col-md-6 details">
            <blockquote>
              <h5><%= "#{@user.firstname}" + " " + "#{@user.lastname}" %></h5>
              <small><i class="icon-map-marker">D.O.B. : <%= @user.dob.strftime('%v') %></small>
            </blockquote>
            <p>
              <h6><b><%= @user.email %></b></h6>
              <h6><b>Contact No : <%= @user.contact %></b></h6>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <hr>
  <div class= "row">
      <%= render partial: '/users/provider', locals: {user: @user} %>
    <% if @user.provider.present? %>
      <% unless @user == current_user %>
        <h5><b>Give Review:</b></h5><hr>
        <%= render 'comments/form', locals: {user: @user} %><hr>
      <% end %>
      <h5><b>Reviews :</b></h5>
      <hr>
      <div id= "action_cable_comment">
        <%= render @user.provider.comments %>
      </div>  
      <hr>
    <% end %>
  </div>
</div>
