  <h2><%= @user.firstname %>'s Profile </h2>
  <hr>
  
  <p>
    <strong>First Name: </strong>
    <%= @user.firstname %>
  </p>
  
  <p>
    <strong>Last Name: </strong>
    <%= @user.lastname %>
  </p>
  
  <p>
    <strong>Contact no: </strong>
    <%= @user.contact %>
  </p>
  <hr>

  <h2>Your Details</h2><hr>
    <%= render partial: '/users/provider', locals: {user: @user} %>
  <hr>

<%= link_to "Create Another Profile", new_provider_detail_path, style: 'float: right; margin: 10px', class: 'btn btn-danger sm-btn' %> &nbsp&nbsp
<%= link_to 'Back', '/', class: "btn btn-secondary sm-btn" %>


