<%= javascript_pack_tag 'button_to_top' %>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4"></h1>
      <div class="list-group">
        <% if current_user == @user %>
          <%= link_to "Create Profile", new_provider_detail_path, style: 'float: right', class: 'btn btn-danger sm-btn btn-show' %><br/>
          <%= link_to "Favourites", faviourite_post_list_users_path, style: 'float: right', class: 'btn btn-warning sm-btn btn-show' %><br/>
          <% if current_user.provider %>
            <a href="#reminder"  class=" btn btn-success sm-btn btn-show" data-toggle="modal">Reminder</a><br/>
            <%= link_to "View Garphs", graph_user_path(@user), style: 'float: right', class: 'btn btn-danger sm-btn btn-show' %><br/>
          <% end%>
        <% end %>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="container">
        <div class="row">
          <div class="col-md-6 img">
            <%= image_tag(@user.image, class: "img-rounded", style:'width:350px;height:300px') if @user.image.attached? %>
          </div>
          <div class="col-md-6 details">
            <blockquote>
              <h5><%= @user.fullname %></h5>
              <small><i class="icon-map-marker">D.O.B. : <%= @user.dob.strftime('%v') %></small>
            </blockquote>
            <p>
              <h6><b><%= @user.email %></b></h6>
              <h6><b>Contact No : <%= @user.contact %></b></h6>
            </p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <hr>
  <div id="favourite_post">
  </div>
  <% if @user.provider.present? %>
    <%= render partial: '/users/provider', locals: {provider_details: only_confirmed_provider_details(@user)} %>
  <% else %>
    <h3>Not registration as provider yet...</h3>
  <% end %>
</div>

<% if current_user.provider %>
  <div id="reminder" class="modal hide fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <%= render partial: 'users/reminder_model', locals: { reminders: @reminders } %>
    </div>
  </div>
<% end %>
