<div>
  <div id="provider_detail_<%= provider_detail.id.to_s %>" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-header card_side card_side--front">
              <b>
                <h4 class="card_heading">
                <span class="card_heading-span card_heading-span--3"><%= provider_detail.category.name %></span>
                </h4>
              </b>
            </div>
            <div class="card-horizontal">
              <div class="img-square-wrapper card_picture card_picture--3">
                <%= image_tag(provider_detail.image, style:'width:250px;height:250px') if provider_detail.image.attached? %>
              </div>
              <div class="card-body card_details">
                <p class="card-text"><b>City : <%= provider_detail.city %></b></p>
                <p class="card-text">Name : <%= provider_detail.provider.user.fullname %></p>
                <p class="card-text">Zip-code : <%= provider_detail.zipcode %></p>
                <p class="card-text">State : <%= CS.states(:in)[provider_detail.state.to_sym] %></p>
                <p class="card-text">About: <%= provider_detail.description.truncate_words(10) %></p>
                <p class="card-text">Rating: <%= provider_detail.comments.get_average %><%= image_tag('/assets/star-on.png', style:'width:20px;height:20px;margin-bottom:5px;margin-left:3px') %></p>
              </div>
            </div>
            <div class="card_side card_side--back card_side--back-3 vertical_align">
              <%= link_to "Contact", provider_detail_path(provider_detail), class:'btn btn-light btn-lg btn-center' %>
              <%= link_to "Message here", user_msg_path(provider_detail.provider.user), remote: true , class:'btn btn-light btn-lg btn-center' %>
              <%= link_to is_favourite?(provider_detail), faviourite_post_users_path(provider_detail), method: :post, remote: true, id: provider_detail.id ,class:'btn btn-light btn-lg btn-center' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    half: 'true',
    score: function() {
          return $(this).attr('data-score');
    }
  });
</script>