<hr><br>
<%= form_with(model: @provider_detail, local: true) do |form| %>
  <% if provider_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider_detail.errors.count, "error") %> prohibited this details from being saved:</h2>
      <ul>
        <% provider_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row">
    <label class="col-sm-2 col-form-label">State :</label>
    <div class="col-sm-10">
      <%= form.select :state, options_for_select(CS.states(:in).map { |c| [c[1], c[0]] },@provider_detail.state ),{:include_blank => 'Select State'} %>
    </div>
  </div>
 
  <div class="field row"> 
    <label class="col-sm-2 col-form-label">City :</label>
    <div class="col-sm-10">
      <%= form.select :city, options_for_select(CS.cities(:gj), @provider_detail.city), {:include_blank => 'Select State First'}, {:disabled => true} %>
    </div>
  </div>
  
  <div class="field row">
    <label class="col-sm-2 col-form-label">Pin-Code :</label>
    <div class="col-sm-10">
      <%= form.text_field :zipcode %>
    </div>
  </div>  

  <div class="field row">
      <label class="col-sm-2 col-form-label">Select Category of Profession :</label>
      <div class="col-sm-10">
        <%= form.collection_select :category_id, Category.all,:id,:name, include_blank: false %>
      </div>
  </div><br>
    
  <div class="field row">
    <label class="col-sm-2 col-form-label">Description :</label>
    <div class="col-sm-10">
      <%= form.text_area :description %>
    </div>
  </div>

  <div class="field row">
    <label class="col-sm-2 col-form-label">Image :</label>
    <div class="col-sm-10">
      <%= form.file_field :image %>
    </div>
  </div>

  <div class="field row">
    <div class="col-sm-10">
      <%= form.submit "Submit", class: "btn btn-primary" %>
      
    </div>
  </div>  

<% end  %>	  